.container
  %h2 Результаты поиска (#{@results[:count]})
  %table.table.table-striped
    %thead
      %tr
        %th Ком
        %th Адрес
        %th Этаж
        %th Дом
        %th S общ.
        %th S жил.
        %th S кух.
        %th С/у
        %th Цена, т.р.
        %th Субъект
        %th Контакт
        %th Дополнительно
    %tbody
      - @results[:results].each do |result|
        %tr{ class: result["image"].empty? ? '' : 'warning' }
          %td.text-center
            - if result["image"].empty?
              = result["rooms"]
            - else
              %i.icon-camera
          %td
            %a{ href: result["link"], target: '_blank' }= result["address"]
          %td= result["floor"]
          %td= result["house"]
          %td= result["area_gross"]
          %td= result["area_living"]
          - if result["image"].empty?
            %td= result["area_kitchen"]
            %td= result["wc"]
            %td= result["price"]
          - else
            %td{ colspan: 3 }= result["price"]
          %td= result["subject"]
          %td= result["contacts"]
          %td= result["info"]

  %ul.pager.hide
    %li.previous
      %a{ href: '#' } &larr; назад
    %li.next
      %a{ href: '#' } вперед &rarr;
